body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  text-decoration: none;
}

.signin-button {
  border-radius: 5px;
  padding: 10px 30px;
  background-color: #4287f5;
  color: white;
}

.logo-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo {
  margin: auto;
  margin-top: 50px;
}

.search-parent input[type="text"] {
  width: auto;
  max-width: 584px;
  height: 40px;
  border-radius: 24px;
  border: 1px solid #e6e6e6;
  padding-left: 48px;
}

.search-parent {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  padding: 20px;
}

.search-parent input[type="text"] {
  width: 584px;
}

.search-buttons {
  padding-top: 18px;
  display: flex;
  justify-content: center;
}

button {
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #f8f9fa;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  padding: 8px;
  margin: 0 5px 0 5px;
}

.search {
}

.lucky {
}

.botnav {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #e6e6e6;
}
